$LightBackground: #e8f0f1;
$red: #c1424d;
$babyPink: #bda8ad;
$lightBrown: #a49794;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
}

.card-holder {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $LightBackground;
}

.card-body {
  background-color: $LightBackground;
}
//home page scss

.textContainer {
  background-color: #367d87;
}
.cardText {
  display: flex;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
.carousel {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

//card scss

.cardGroupShop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardItem {
  width: 90%;
  border-radius: 20px;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
}
.cardImage {
  width: 80%;
  height: 80%;
  border-radius: 20px;
}
.card-text{
  text-align: center;
}